
@{
    ViewData["Title"] = "AddJournal";
}

<h2 class="center">Add journal</h2>

<div class="form-group">
    <label for="validationTooltip01">Title</label>
    <input type="text" class="form-control" id="validationTooltip01" required>
    <label for="validationTooltip01">Language</label>
    <input type="text" class="form-control" id="validationTooltip01" required>
    <label for="validationTooltip01">Pages</label>
    <input type="text" class="form-control" id="validationTooltip01" required>
    <label for="validationTooltip01">Site</label>
    <input type="text" class="form-control" id="validationTooltip01" required><br>
    <label for="validationTooltip01">Publishing company</label>
    <select class="custom-select">
        <option selected>Open this select menu</option>
        <option value="1">Publishing company 1</option>
        <option value="2">Publishing company 2</option>
        <option value="3">Publishing company 3</option>
    </select>
</div>
<div class="form-group">
    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Add</button>
</div>

