
@{
    ViewData["Title"] = "AddConcreteJournal";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>AddConcreteJournal</h2>

<div class="form-group">
    <label for="validationTooltip01">Number</label>
    <input type="text" class="form-control" id="validationTooltip01" required>
    <label for="validationTooltip01">Pages</label>
    <input type="text" class="form-control" id="validationTooltip01" required>
    <label for="validationTooltip01">Image</label>
    <input type="text" class="form-control" id="validationTooltip01" required>
    <label for="validationTooltip01">Description</label>
    <input type="text" class="form-control" id="validationTooltip01" required>
    <label for="validationTooltip01">Date</label>
    <input type="text" class="form-control" id="validationTooltip01" required><br>
    <label for="validationTooltip01">Journal</label>
    <select class="custom-select">
        <option selected>Open this select menu</option>
        <option value="1">Publishing company 1</option>
        <option value="2">Publishing company 2</option>
        <option value="3">Publishing company 3</option>
    </select>
</div>
<div class="form-group">
    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Add</button>
</div>