@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@model Project.App.ViewModels.LoginViewModel
@{
    ViewData["Title"] = "Login";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Login</h2>
<form method="post" asp-controller="Account" asp-action="Login"
      asp-route-returnUrl="@Model.ReturnUrl">
    <div asp-validation-summary="ModelOnly"></div>
    <div>
        <label asp-for="Email"></label><br />
        <input asp-for="Email" />
        <span asp-validation-for="Email"></span>
    </div>
    <div>
        <label>@Localizer["Password"]</label><br />
        <input asp-for="Password" />
        <span asp-validation-for="Password"></span>
    </div>
    <div>
        <label>@Localizer["Remember"]?</label><br />
        <input asp-for="RememberMe" />
    </div>
    <div>
        <input type="submit" value=@Localizer["Login"] />
    </div>
</form>

